
ul {
  list-style: none;
}


/* 自定义动画 */
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation: flash .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn .5s;
}


.slide-page ul {
  margin: 0;
  padding: 0;
  width: 90%;
  margin-left: 5%;
}

.slide-page ul li {
  width: 100%;
  padding: 100px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(83, 83, 83);
  background: rgba(255, 255, 255, .5);
  text-align: center;
}

.slide-page h2 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.add {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -50px;
  padding: 38px 0;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(47, 95, 178);
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.add:hover {
  background-color: rgb(57, 123, 219);
}

.add:active {
  background-color: rgb(31, 79, 134);
}
.page1 {
  background-color: #99CC33;
}
.page1 .step1 {
  position: absolute;
  top: 100px;
  left: 19%;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(178, 116, 57);
  border-radius: 50%;
}

.page1 .step2 {
  position: absolute;
  bottom: 100px;
  right: 19%;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(116, 178, 9);
}
.page2 {
  background-color: rgb(197, 181, 88);
}

.page3 {
  background-color: #99CCCC;
}
.page1 .step1 {
  position: absolute;
  top: 100px;
  left: 19%;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(178, 116, 57);
  border-radius: 50%;
}

.page1 .step2 {
  position: absolute;
  bottom: 100px;
  right: 19%;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(116, 178, 9);
}